h1 {
  font-size: 1.5em;
  font-weight: 500;
}
h2 {
  font-size: 16px;
  font-weight: 400;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  text-align: left;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  color: #4c4c4c;
}
img {
  max-width: 450px;
  margin: 0 auto;
  margin-bottom: 25px;
}
a.link-style {
  color: #7dbbb9;
  text-decoration: none;
}
a:hover {
  color: #537b7a;
  text-decoration: none;
  cursor: default;
}
#forecast {
  border-radius: 25px 25px 0px 0px;
  box-shadow: 0px -50px 80px #abd7d8;
  font-size: 14px;
  font-weight: 300;
  padding: 20px 30px 20px 20px;
  background-color: white;
}
.header {
  text-align: start;
  margin: 2px;
  padding: 0px;
}
.weather-app {
  max-width: 500px;
  margin: 35px auto;
  padding: 20px 20px 0px 20px;
  border: 1px solid #2a5d68;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  color: #4c4c4c;
  background-color: white;
}
.input-style {
  font-size: 16px;
  font-weight: 400;
}
.current-weather-desc {
  font-size: 1.5em;
  font-weight: 500;
  color: #537b7a;
  margin: 0.8em 0 0 0;
  display: block;
}
.current-weather-desc:first-letter {
  text-transform: capitalize;
}
.current-weather-temp {
  font-size: 1.3em;
  font-weight: 400;
}
.current-weather-temp .units {
  position: relative;
  font-size: 15px;
  top: -5px;
}
.row {
  margin-top: 10px;
  margin-bottom: 10px;
}
.forecast-icon {
  font-size: 20px;
  color: #7dbbb9;
}
.forecast-max-temp {
  color: #7dbbb9;
  font-weight: 500;
}
.active-link {
  text-decoration: none;
  color: #7dbbb9;
  cursor: default;
}
.author {
  margin: 0;
  padding: 0 0 10px 0;
  text-align: center;
  font-size: 12px;
  background: white;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-center {
  text-align: right;
  align-items: center;
}
.down {
  display: flex;
  align-items: bottom;
}
